body {
	color: #666666; 
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

header {	
	color: #FFFFFF;
	background-color: #000033;
}
header {
	background-image: url(images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	line-height: 400%;
	text-indent: 1em;
}

nav {
	background-color: #90C7E3;
	font-weight: bold;
}

nav a {
	text-decoration: none;
}

h1 {
	margin-bottom: 0;
	font-family: Georgia, Times New Roman, serif;
}

h2 {
	color: #3399CC;
	font-family: Georgia, Times New Roman, serif;
}

h3 {	
	color: #000033;
	font-family: Georgia, Times New Roman, serif;
}

ul { list-style-type: url(images/marker.gif);
}

footer {
	font-family: Georgia, Times New Roman, serif;
	font-size: .75em;
	font-style: italic;
	text-align: center;
}

.resort {
	color: #5C7fA3;
	
}

#contact {
	font-size: .90em;
}

#content p {background-color: #yellow;
}